.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 1px solid #282c34;
    font-size: 16px;
}

.task__check {
    margin-right: 10px;
}

.delete {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.completed {
    opacity: .5;
}

.completed .task__text {
    text-decoration: line-through;
}