.categories {
    margin-right: 50px;
    border-right: 1px solid #282c34;
    padding-right: 20px;
}

.categories__item {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 20px;
}

.categories__delete {
    cursor: pointer;
}

.categories__item_active {
    font-weight: bold;
}

.categories__text {
    text-decoration: none;
    color: #282c34;
}