.categories {
    margin-right: 50px;
    border-right: 1px solid #282c34;
    padding-right: 20px;
}

.categories__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

.categories__delete {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.categories__item_active {
    font-weight: bold;
    color: white !important;
}

.categories__text {
    text-decoration: none;
    color: #282c34;
}